@media(max-width: 1230px) {

   /* BUttons */

   .buttons__item{
      width: 40px;
      height: 40px;
   }
   .buttons__inner{
      width: 17px;
      height: 17px;
   }

   /* First */

   .first__subtitle{
      font-size: 50px;
   }
   .first__title{
      font-size: 100px;
   }

   /* Statistic */

   .stat__item{
      padding: 50px 0;
   }

   .stat__num{
      font-size: 50px;
   }
   .stat__text{
      font-size: 14px;
   }

   /* Section */

   .section{
      padding: 60px 0 0 0;
   }

   /* Rewievs */

   .reviews__text{
      font-size: 20px;
   }
}

@media(max-width: 950px) {

   /* Team */

   .social__item{
      width: 36px;
      height: 36px;
   }
   .social__item img{
      
      height: 17px;
   }
}


@media(max-width: 850px) {

   /* BUttons */

   .buttons__item{
      width: 35px;
      height: 35px;
   }
   .buttons__inner{
      width: 15px;
      height: 15px;
   }

   /* First */

   .first__title{
      font-size: 90px;
   }

   /* Slider */

   .slider__item{
      font-size: 20px;
   }
   .slider__item span{
      font-size: 16px;
   }

   /* Statistic */

   .stat__item{
      padding: 40px 0;
   }

   .stat__num{
      font-size: 40px;
   }
   .stat__text{
      font-size: 12px;
   }

   /* Section */

   .section__title{
      font-size: 26px;
   }
   .section__title::after{
      margin: 30px auto 40px;
   }

   /* Service */

   .service__item{
      width: 50%;
      
   }
   .service__item:nth-child(4),
   .service__item:nth-child(5),
   .service__item:nth-child(6),
   .service__item:nth-child(7){
      /* margin-bottom: 40px; */
      margin-top: 0;
   }
   .hr{
      display: none;
   }

   /* Rewievs */

   .reviews__slide{
      left: 30px;
   }

   /* Team */

   .team{
      margin-bottom: 80px;
   }
}

@media(max-width: 750px) {

   /* First */

   .first__subtitle{
      font-size: 45px;
   }
   .first__title{
      font-size: 80px;
   }

   /* Header */

   .nav{
      display: none;
   }

   /* Section */

   .section__text{
      margin: 0 auto 30px;
   }

   /* Statistic */

   .stat__inner{
      justify-content: center;
   }
   .stat__item{
      width: 33.3333%;
      border: 0;
   }
   .stat__item:last-child{
      border: 0;
   }

   /* WeDo */

   .wedo{
      flex-wrap: wrap;
   }

   .wedo__item{
      width: 100%;
      margin-bottom: 10px;
      max-height: none;
   }

   /* Rewievs */

   .reviews{
      margin-top: 60px;
   }

   .reviews__inner{
      min-height: 366px;
   }
   .reviews__slide{
      flex-direction: column;
   }
   .reviews__img{
      margin: 0 0 20px 0;
   }

   /* Team */

   .team{
      justify-content: center;
      margin-bottom: 50px;
   }

   .team__item{
      width: 100%;
      max-width: 400px;
      margin-bottom: 30px;
   }

   .social__item{
      width: 56px;
      height: 56px;
   }
   .social__item img{
      
      height: 26px;
   }

   /* Works */

   .works__col{
      width: 50%;
   }

   /* Footer */

   .footer{
      height: 150px;
   }

   .footer__info-text{
      font-size: 20px;
   }
}

@media (max-height: 750px) {

   /* First */

   .first__subtitle{
      font-size: 50px;
      margin-bottom: 15px;
   }
   .first__title{
      font-size: 85px;
      margin-bottom: 70px;
   }
}

@media(max-width: 550px) {

   /* BUttons */

   .buttons__item{
      width: 30px;
      height: 30px;
   }
   .buttons__inner{
      width: 12px;
      height: 12px;
   }

   /* First */
   
   .first__subtitle{
      font-size: 35px;
   }
   .first__title{
      font-size: 65px;
   }

   /* Slider */

   .slider__item{
      font-size: 18px;
   }
   .slider__item span{
      display: none;
   }

   /* Statistic */

   .stat__item{
      width: 100%;
      padding: 15px 0;
      border-bottom: 1px solid #aae7dc;
   }

   .stat__item:last-child{
      border-bottom: 0;
   }
   
   /* Service */

   .service__item:nth-child(4),
   .service__item:nth-child(5),
   .service__item:nth-child(6){
      margin-bottom: 40px;
   }

   .service__item{
      width: 100%;
      
   }
   .service__item-inner{
      padding: 0;
   }
   .service__item:last-child{
      margin-bottom: 0;
   }

   /* Section */

   .section{
      padding: 40px 0 0 0;
   }

   /* Rewievs */

   .reviews{
      margin-top: 40px;
      padding: 0;
   }

   .reviews__inner{
      min-height: 470px;
   }

   /* Team */

   .team{
      margin-bottom: 30px;
   }

   /* Lables */

   .lables{
      padding: 30px 0;
   }

   /* Works */

   .info__icon{
      margin-bottom: 10px;
      width: 20px;
   }
   .works__title{
      font-size: 12px;
   }
   .works__text{
      font-size: 12px;
   }
}

@media (max-height: 550px) {

   /* Header */

   .header{
      padding: 10px 0;
   }
   .header__logo{
      font-size: 25px;
   }
   .nav{
      font-size: 12px;
   }
   .nav-item{
      margin: 0 10px;
   }

   /* Button */

   .btn{
      height: 35px;
      width: 120px;
      font-size: 12px;
   }

   /* First */

   .first__subtitle{
      font-size: 30px;
      margin-bottom: 5px;
   }
   .first__title{
      font-size: 50px;
      margin-bottom: 35px;
   }

   /* Slider */

   .slider__item{
      font-size: 16px;
      padding: 5px 0;
   }
   .slider__item span{
      font-size: 14px;
   }

   /* Statistic */

   .stat__item{
      padding: 30px 0;
   }
   .stat__num{
      font-size: 30px;
      margin-bottom: 10px;
   }

   /* Accordeon */

   .accordeon__title{
      padding: 10px;
      font-size: 12px;
   }
   .accordeon__text{
      padding: 10px;
      font-size: 13px;
      line-height: 20px;
   }

   /* Section */

   .section{
      padding: 40px 0 0 0;
   }
   .section__title::after{
      margin: 30px auto;
   }
   .section__text{
      margin: 0 auto 40px;
   }

   /* Rewievs */

   .reviews{
      margin-top: 50px;
      padding: 0;
   }
   .reviews__text{
      font-size: 16px;
   }
   .reviews__author{
      font-size: 20px;
   }

   /* Lables */

   .lables{
      padding: 30px 0;
   }

   /* Works */

   .info__icon{
      width: 20px;
   }
   .works__title{
      font-size: 12px;
   }
   .works__text{
      font-size: 12px;
   }

   /* Footer */

   .footer{
      height: 150px;
   }
   .footer__info-text{
      font-size: 20px;
   }
   .footer__info-text::after{
      top: 35px;
      height: 2px;
   }
}

@media(max-width: 400px) {

   
   /* First */

   .first__subtitle{
      font-size: 34px;

   }
   .first__title{
      font-size: 50px;
   }
}


@media (max-height: 350px) {

   /* First */

   .first__subtitle{
      font-size: 25px;
   }

   .first__title{
      font-size: 36px;
   }

   .first__title::after{
      height: 2px;
   }

   /* Statistic */

   .stat__item{
      padding: 20px 0;
   }

   /* Rewievs */

   .reviews__inner{
      min-height: 366px;
   }

   /* Footer */

   .footer{
      height: 100px;
   }
   .footer__info img{
      width: 15px;
      margin-bottom: 5px;
   }
   .footer__info-text{
      font-size: 15px;
   }
   .footer__info-text::after{
      top: 25px;
   }

}